body{
background-image: url("./images/background.jpg");
color: white;
text-align:center;
}

#wrapper{
 background-image: url("./images/playTable.jpg");
 color: White;
 border-radius: 50px;
 width:680px;
 margin: auto;
 overflow: hidden;
 box-shadow: 5px 5px 5px #555;
}
